<h2 md-dialog-title>New Listing</h2>
<form>
  <div>
    <md-input-container class="form-fields full-width">
      <input mdInput placeholder="Tile" value={{this.post.title}} [(ngModel)]=this.post.title name="Title" />
    </md-input-container>
  </div>
  <div>
    <md-input-container class="form-fields full-width" dividerColor="primary">
      <textarea mdInput placeholder="Description" value={{this.post.description}} [(ngModel)]=this.post.description name="Description"></textarea>
    </md-input-container>
  </div>
  <div class="form-select">
    <md-select placeholder="Offer" class="full-width" dividerColor="primary" [(ngModel)]=this.post.offer name="Offer">
      <md-option value="Private">
        Private
      </md-option>
      <md-option value="Salary">
        Salary
      </md-option>
      <md-option value="Hourly">
        Hourly
      </md-option>
      <md-option value="Equity">
        Equity
      </md-option>
    </md-select>
  </div>
  <md-dialog-actions align="center">
    <button md-raised-button color="primary" (click)="submitPost()" class="full-width">Submit</button>
  </md-dialog-actions>
</form>
