<!--The whole content below can be removed with the new code.-->
<md-toolbar color="primary" *ngIf="!loading">
  <button md-button routerLink="" class="font-20 m-l">
    <span>CodeLink</span>
  </button>
  <button md-button routerLink="browse" class="reg-text font-18 m-l">
    <md-icon>people</md-icon>
    <span>Browse</span>
  </button>
  <!-- fill space -->
  <span class="fill-space"></span>
  <!-- Not Logged In -->
  <button md-button *ngIf="!isLoggedIn" (click)="openLoginDialog()" class="reg-text font-18 m-r-2 border-white">
    <span>Login</span>
  </button>
  <button md-raised-button *ngIf="!isLoggedIn" routerLink="register" class="reg-text font-18 m-r-2" color="accent">
    <span>Sign up</span>
  </button>
  <!-- Logged In -->
  <button md-button *ngIf="isLoggedIn" (click)="openPostDialog()" class="reg-text font-18 m-r-2 border-white">
    <md-icon>add</md-icon>
    <span>New Listing</span>
  </button>
  <md-menu #menu="mdMenu">
    <button md-menu-item >
      <md-icon>account_circle</md-icon>
      <span>My Account</span>
    </button>
    <button md-menu-item (click)="logout()">
      <md-icon>exit_to_app</md-icon>
      <span>Sign out</span>
    </button>
  </md-menu>
  <button md-button [mdMenuTriggerFor]="menu" *ngIf="isLoggedIn" class="reg-text font-20 m-r-2">
    <span [innerText]="displayName"></span>
  </button>
</md-toolbar>
<toaster-container [toasterconfig]="toastConfig" style="margin-top:50px;"></toaster-container>
<div [ngClass]="{'app-content': isLoggedIn, 'app-landing': !isLoggedIn }">
  <router-outlet></router-outlet>
</div>
