.app-content {
    padding-left:25px;
    padding-right:25px;
    margin-top:25px;
}

.border-white {
    border: solid 1px white;
    border-radius: 3px;
}

.fill-space {
    flex: 1 1 auto;
}

.full-width {
    width: 100%;
}

.reg-text {
    font-weight: normal;
}

.font-20 {
    font-size: 20px;
}

.m-l {
    margin-left:1rem;
}

.m-l-2 {
    margin-left:2rem;
}

.m-l-3 {
    margin-left:3rem;
}

.m-r {
    margin-right:1rem;
}

.m-r-2 {
    margin-right:2rem;
}

.m-r-3 {
    margin-right:3rem;
}
