
md-card-content {
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

md-card-actions {
    padding-left: 15px;
    padding-right: 15px;
}

.full-width {
    width: 100%;
}

.reg-text {
    font-weight: normal;
}

.thin-text {
    font-weight: thin;
}

.font-14 {
    font-size: 14px;
}

.font-20 {
    font-size: 20px;
}

.a-button {
    color:lightskyblue;
    background-color: white;
}

.google-yellow {
    color: white;
    background-color: #ffa700;
}

.error-txt {
    color: red;
}

.txt-center {
    text-align: center;
}