<div class="p-x-1">
  <h2 md-dialog-title>Welcome back!</h2>
  <div>
    <md-input-container class="full-width" dividerColor="primary">
      <input mdInput [(ngModel)]="email" type="email" placeholder="Email" />
    </md-input-container>
  </div>
  <div>
    <md-input-container class="full-width" dividerColor="primary">
      <input mdInput [(ngModel)]="password" type="password" placeholder="Password"/>
    </md-input-container>
  </div>
  <div>
    <button md-raised-button (click)="loginWithEmail()" class="full-width" color="primary" >Sign in</button>
  </div>
  <br>
  <div>
    <button md-raised-button (click)="loginWithGoogle()" class="full-width" color="warn">Sign in with Google</button>
  </div>
</div>